body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh; /* Use height instead of min-height */
    background: linear-gradient(to bottom, #fff, #3498db); /* Gradient background */
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: black;
}

/* Header styling */
header, nav, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

nav a:hover{
    text-decoration: underline;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: row;
}

section {
    flex: 1;
    padding: 20px;
    border: 1px solid #ddd;
}

@media only screen and (max-width: 768px) {
    body {
        font-size: 14px; /* Adjust font size for smaller screens */
    }

    nav li {
        margin-right: 10px; /* Adjust margin between navigation items */
    }

    .container {
        flex-direction: column; /* Stack items vertically on smaller screens */
    }

    section {
        padding: 15px; /* Adjust padding for sections on smaller screens */
    }
}